@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tadelakt: #FDFBF7;
  --terracotta: #B22222;
  --zellige: #2A9D8F;
  --majorelle: #2B59C3;
  --medina-dark: #2B2D42;
  --medina-muted: #8D99AE;
}

body {
  background-color: var(--tadelakt);
  color: var(--medina-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}